.contact {
    height: 300px;
    width: 100%;
}

.f-infosocials {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    height: 40px;
}

/* Icon Styles */
i {
    transition: color 0.3s ease;
    font-size: 2rem;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
    opacity: 1;
    /* Ensure icons are visible by default */
}

i:hover {
    opacity: 2.5;
    transform: scale(1.5);
}

/* Animation Keyframes */
@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInFromTopRight {
    0% {
        transform: translate(100%, -100%);
        opacity: 0;
    }

    100% {
        transform: translate(0, 0);
        opacity: 1;
    }
}

/* Apply animations to specific icons */
.facebook,
.instagram,
.email {
    animation: slideInFromLeft 1s forwards;
}

.twitter {
    animation: slideInFromTopRight 1s forwards;
}

.linkedin {
    animation: slideInFromRight 1s forwards;
}

/* Hover Colors */
.facebook {
    color: gray;
}

.facebook:hover {
    color: #4267B2 !important;
}

.instagram:hover {
    color: #C13584;
}

.instagram {
    color: gray;
}

.twitter:hover {
    color: #1DA1F2;
}

.linkedin:hover {
    color: #0077b5;
}

.twitter {
    color: gray;
}

.linkedin {
    color: gray;
}

.email {
    color: gray;
}

.email:hover {
    color: #D14836;
}