.contact {
    height: 300px;
    width: 100%;
}

.f-infosocials {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    height: 40px;
}


.f-infosocials a {
    position: relative;
    border-radius: 50%;
    border: 3px solid white;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.8);
    /* Direct glowing effect */
    text-decoration: none;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}


/* Icon Styles */
i {
    font-size: 2rem;
    color: gray;
    transition: color 0.3s ease-in-out;
    /* Smooth color transition */
}

/* Hover States for Icon Colors */
.f-infosocials a.github:hover i {
    color: #4267B2 !important;
    /* Facebook blue */
}

.f-infosocials a.instagram:hover i {
    color: #C13584 !important;
    /* Instagram pink */
}

.f-infosocials a.twitter:hover i {
    color: #1DA1F2 !important;
    /* Twitter blue */
}

.f-infosocials a.linkedin:hover i {
    color: #0077b5 !important;
    /* LinkedIn blue */
}

.f-infosocials a.email:hover i {
    color: #D14836 !important;
    /* Email red */
}