.hero-container {
    display: flex;
    justify-content: center;
    align-items: start;
    height: 100vh;
    color: white;
}

.hero-content {
    text-align: center;
    max-width: 600px;
}

.hero-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 20px;
    box-shadow: 10px 10px 200px white !important;
    animation: zoomBounce 3s ease-in-out;
    /* Animation added */
}

/* Animation Keyframes */
@keyframes zoomBounce {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }

    60% {
        transform: scale(1.2);
        opacity: 1;
    }

    100% {
        transform: scale(1);
    }
}

.hero-title {
    font-size: 3.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    text-shadow: 2px 4px rgba(0, 0, 0, 0.2);
}

.hero-subtitle {
    font-size: 1.5rem;
    margin-bottom: 30px;
}

.hero-button {
    background-color: #ff6347;
    color: white;
    padding: 10px 20px;
    border-radius: 25px;
    text-decoration: none;
    font-size: 1.2rem;
    transition: background-color 0.3s ease;
}

.hero-button:hover {
    background-color: #ff4500;
}

.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
    padding: 20px;
}

.about-content {
    max-width: 800px;
    text-align: center;
}

.about-text {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-top: 20px;
    font-family: 'Arial', sans-serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
}

h1 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
}

.cursor {
    display: inline-block;
    border-left: 2px solid white;
    animation: blink 0.7s steps(1) infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

button:hover{
    box-shadow: 5px 5px 50px white !important;
}